body{
    background-color: #00242F !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* container for the canvas */
.imageBox{
    margin-top: 120px;
    background-color: aliceblue;
}

/* Dropdown-Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-Button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

/* Style for the dropdown select (select) */
.dropdownSelect {
    display: none; /* Hide the dropdown */
}

/* Show dropdown is used */
.dropdown select:focus + label,
.dropdown select {
    display: block; /* show dropdown */
}

/* Lable as Button */
label {
    background-color: #3498db;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

/* optional dropdown options */
.dropdown option {
    background-color: #f9f9f9;
    padding: 10px;
}


.nextButton {
    display: flex;            
    gap: 10%;                
    justify-content: center;  
     
}

.nextButton button {
    position: relative;
    gap: 20px;
    margin-top: 50px;
    background-color: #009951;
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
}
#editDiagnosis{
    background-color: #00afb9;
}

/* Button hover effect */
.nextButton button:hover {
    background-color:#01b963; 
    transform: scale(1.025); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

/* Button pressed effect */
.nextButton button:active {
    background-color: #028246; 
    transform: scale(0.95); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}

/* Hover effects for edit diagnosis button */
#editDiagnosis:hover {
    background-color: #01c5cf;; 
}

/* Pressed effects for edit diagnosis button */
#editDiagnosis:active {
    background-color:#008f97; 
}


/* container for the radio boxes */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 17%; 
    width: 100%;
}

/* radio buttons */
.radioForm {
    display: flex;
    gap: 130px; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: -40px;
}

input[type="radio"] {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    margin: 0; 
    background-color: #00242F;
    border: 2px solid white;
    appearance: none; 
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked::before {
    content: ''; 
    display: block;
    width: 10px; 
    height: 10px; 
    background-color: white; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.radioForm label {
    display: flex;
    align-items: center; 
    gap: 12px; 
}

.radioForm label p {
    margin: 0; 
    font-size: 18px; 
    color: white; 
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    transition: transform 0.025s ease; 
}


input[type="radio"]:checked {   
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4); 
}

/* Change text color and scale when the radio button is checked */
input[type="radio"]:checked + p { 
    transform: scale(1.025);
}

