@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background-color: #00242F !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeButton {
    margin-left: 25px;
    text-decoration: none;
    font-size: 30px;
}

.homeButton i {
    cursor: pointer;
}

/* Main toolbar styling */
.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00485E;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    gap: 55px;
    width: 370px;
    height: 40px;
    margin: 20px auto; 
    margin-top: 25px; 
    margin-bottom: -30px;
}

/* Tool button styling */
.toolButton {
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.toolButton:active {
    transform: translateY(2px);
}

#selectTool i {
    font-size: 24px;
    color: #434343;
    transform: rotate(-20deg);
}

.outlineSquare {
    width: 24px;
    height: 20px;
    border: 3.8px solid #434343;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
}

#eraseTool i {
    font-size: 24px;
    color: #434343;
}


#undoTool i {
    font-size: 24px;
    color: #434343;
}


/* container for the radio boxes */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    bottom: 80px; 
    width: 100%;
}

/* container for the canvas */
.imageBox{
    margin-top: 50px;
}



/* radio buttons */
.radioForm {
    display: flex;
    gap: 100px; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: -40px;
}



input[type="radio"] {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    margin: 0; 
    background-color: #00242F;
    border: 2px solid white;
    appearance: none; 
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked::before {
    content: ''; 
    display: block;
    width: 10px; 
    height: 10px; 
    background-color: white; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}




.radioForm label {
    display: flex;
    align-items: center; 
    gap: 12px; 
}


.radioForm label p {
    margin: 0; 
    font-size: 18px; 
    color: white; 
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
}


