@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background-color: #00242F !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeButton {
    margin-right: 10px;
    text-decoration: none;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

.homeButton i {
    cursor: pointer;
}

#homeIcon {
    width: 40px;
    height: 40px;
}

.toolbarContainer {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    position: relative;         
    width: 100%; 
    margin: 20px auto; 
    margin-top: 25px; 
    margin-bottom: -30px;
    transition: margin-left 1.5s ease;
    transition: margin-right 1.5s ease;
}

/* Main toolbar styling */
.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00485E;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    gap: 55px;
    width: 370px;
    height: 40px;
    z-index: 0;
}

/* Tool button styling */
.toolButton {
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.toolButton:active {
    transform: translateY(2px) scale(1.01);
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#selectTool i {
    font-size: 24px;
    color: #434343;
    transform: rotate(-20deg);
}

#freehandDrawingIcon{
    max-width: 24px;
    max-height: 24px;
}

.outlineSquare {
    width: 24px;
    height: 20px;
    border: 3.8px solid #434343;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
}

#eraseTool i {
    font-size: 24px;
    color: #434343;
}


#undoTool i {
    font-size: 24px;
    color: #434343;
}


/* container for the radio boxes */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    bottom: 80px; 
    width: 100%;
}

/* container for the canvas */
.imageBox{
    margin-top: 50px;
    position: relative; 
    z-index: 0;
}



/* radio buttons */
.radioForm {
    display: flex;
    gap: 100px; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: -40px;
}



input[type="radio"] {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    margin: 0; 
    background-color: #00242F;
    border: 2px solid white;
    appearance: none; 
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked::before {
    content: ''; 
    display: block;
    width: 10px; 
    height: 10px; 
    background-color: white; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}



.radioForm label {
    display: flex;
    align-items: center; 
    gap: 12px; 
}


.radioForm label p {
    margin: 0; 
    font-size: 18px; 
    color: white; 
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
}


/* finnish diagnosis button */
.finishDiagnosisButton {
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
}

.finishDiagnosisButton button {
    background-color: #00afb9;
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}

.finishDiagnosisButton button:hover {
    background-color:#01c5cf; 
    transform: scale(1.025); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

.finishDiagnosisButton button:active {
    background-color: #008f97; 
    transform: scale(0.95); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}

/* Pop up for the confidence */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(8px); 
    justify-content: center;
    align-items: center;
}


.popupFrame {
    position: relative;
    background: #005E7A;
    padding: 20px 30px;
    border-radius: 20px;
    width: 450px;
    height: 275px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: none;
    
}

.popupFrame p {
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 50px;

}

.popupClose {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    font-weight: regular;
    text-align: center;
    cursor: pointer;
    line-height: 30px
}

.popupConfirm{
    background-color: #00afb9;
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: regular;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}


.popupConfirm:hover {
    background-color:#02bbc5; 
    transform: translateX(-50%) scale(1.005); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

.popupConfirm:active {
    background-color: #029da5; 
    transform: translateX(-50%) scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

/* Confidence meter to enter your confidence */
.confidenceMeterContainer {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confidenceMeter {
    width: 100%;
    -webkit-appearance: none; 
    appearance: none;
    height: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, red, yellow, green); 
    outline: none;
    margin: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}

.confidenceMeter::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px;
    height: 35px;
    background: #D9D9D9;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);   
}

/* Value of the confidence */
.tooltip {
    position: absolute;
    top: -45px; 
    left: 50%; 
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Calibri', sans-serif;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; 
    white-space: nowrap;   
}


.jumpRect {
    display: none;
    background-color: #D9D9D9; 
    color: #434343;
    border-radius: 5px;
    padding: 7px 13px; 
    font-size: 16px;
    font-family: Cabin, Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    z-index: 1;
    margin-left: 20px; 
}

.jumpRect:hover {
    background-color: #ffffff;
    transform:  scale(1.03);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.jumpRect:active {
    transform: scale(0.97) translateY(2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
    background-color: #afafaf
}

.alertMessageBox {
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Horizontal zentrieren */
    justify-content: center; /* Vertikal zentrieren */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 7px;
    width: 350px;
    max-width: 100%;

    height: auto; /* Höhe passt sich an den Inhalt an */

    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-family: Calibri, Arial, sans-serif;
    
}


.alertMessageBox h3 {
    font-size: 30px;
    font-weight: bold;
    color: #cc0404;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1px;
    margin-right: 50px;
    
}

.alertMessageBox .content-container {
    display: flex; /* Flexbox für Text und Button */
    justify-content: space-between; /* Abstand zwischen Text und Button */
    align-items: center; /* Vertikale Ausrichtung */
    width: 100%; /* Nimmt die gesamte Breite der Box ein */
}

.alertMessageBox p {
   
    text-align: center;
    font-size: 16px;
    color: #2c2c2c;
    margin-left: 50px;
    margin-bottom: 20px;

}

.alertMessageBox button {
    margin-top: 1px;
    align-self: flex-end;
    background-color: #cc0404;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 7px 17px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.alertMessageBox button:hover {
    background-color: #000000;
}

.alertMessageBox button:active {
    background-color: #666666;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: flex;
}
