@import url('https://fonts.googleapis.com/css?family=Cabin');

html, body {
    background-color: #00242f;
    margin: 0;
    font-family: 'Cabin';
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contentBox {
    background-color: #005e7a;
    text-align: center;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    padding-top: 20px;

}
.contentTitle h1{
    color: white;
    font-weight: bold;
    margin-top: 75px;
    font-size: 33px;
    font-family: Calibri, Arial, sans-serif;

}

.decisionButtons {
    display: flex; 
    gap: 40px; 
    justify-content: center; 
    margin-top: 30px;
}

.decisionButtons button {
    background-color:#00afb9;
    color: white;
    font-size: 16px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 190px;
    height: 45px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}

.decisionButtons button:hover {
    background-color:#17c7d1; 
    transform: scale(1.025); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

.decisionButtons button:active {
    background-color: #048087; 
    transform: scale(0.95); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}
