@import url('https://fonts.googleapis.com/css?family=Cabin');

html, body {
    background-color: #00242f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

