{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Patholens Login</title>
</head>
<body>
    <div class="loginWindow">
        <div class="loginWindowText">
            <h1>LOGIN</h1>
            <p>Welcome to Patholens</p>
        </div>
        <div class="loginWindowInput">
            <input type="email" placeholder="E-Mail"/>
            <input type="password" placeholder="Password"/>
        </div>
        <div class="loginWindowLinks">
            <div class="loginButton">
                <button type="button">Log In</button>
            </div>
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>   
</body>
</html>