{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <title>PathoLens - Login</title>
    <link rel="icon" href="{% static 'images/icons8-experiment-versuch-ios-17-glyph-96 copy.png' %}" type="image/x-icon" />
</head>
<body>
    <div class="loginWindow">
        <div class="loginWindowText">
            <h2>LOGIN</h2>
            <h4>Welcome to Patholens</h4>
        </div>
        <form class="InputForm" method="post" action="{% url 'patholensLogin' %}">
            {% csrf_token %}
            <div class="loginWindowInput">
                <input id = "email" name = "email" type="email" placeholder="E-Mail"/>
                <div class="passwordContainer">
                    <input name="password" id="password" type="password" placeholder="Password"/>
                    <span class= "togglePassword" id="togglePassword1">
                        <i class ="eye-icon" id="eyeIcon1"></i>
                    </span>
                </div>

                <script>
                            
                    function togglePasswordVisibility(inputId, iconId) {
                        const passwordField = document.getElementById(inputId);
                        const eyeIcon = document.getElementById(iconId);
                
                        if (passwordField.type == 'password') {
                            passwordField.type = 'text';
                            eyeIcon.classList.add('open'); 
                        } else {
                            passwordField.type = 'password';
                            eyeIcon.classList.remove('open'); 
                        }
                    }
                
                    // Event listeners for both password fields
                    document.getElementById('togglePassword1').addEventListener('click', function () {
                        togglePasswordVisibility('password', 'eyeIcon1');
                    });
                </script>

                {% if not information.username or not information.password %}
                    <p class= "Information">! Username or Password wrong !</p>
                {% endif %}
            </div>
            <div class="loginWindowLinks">
                <div class="loginButton">
                    <button type="submit">Log In</button>
                </div>
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
        </form>
    </div>   
</body>
</html>
