{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<link rel="stylesheet" href="{% static 'css/AIPage.css' %}?v=2" />


{% endblock %} 



{% block topbar %}
<a href="/startingPage" class="homeButton">
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
</a>
<i class="fa-solid fa-circle-question" style="color: #ffffff;" id="openHelp" data-tooltip="Get Help"></i>
{% endblock %}


{%block content%}



<div class="dropdown-container">
    <div class="dropdown">
        <input class="text-box" type="text" value="T1" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">Flaire</div>
        </div>
    </div>
    <div class="dropdown">
        <input class="text-box" type="text" value="AI diagnosis" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">my diagnosis</div>
            <div onclick="swapOptions(this)">show overlay</div>
        </div>
    </div>
    <div class="dropdown">
        <input class="text-box" type="text" value="deepfcd" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">map18</div>
            <div onclick="swapOptions(this)">meld</div>
            <div onclick="swapOptions(this)">nnunet</div>
            <div onclick="swapOptions(this)">deepfcdProb</div>
        </div>
    </div>
</div>


<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="395%"></canvas>
</div>




<div class="nextButton">
    <button type="button" id="TakeMyDiagnosis">Take My Diagnosis</button>
    <button type="button" id="TakeAIDiagnosis">Take AI Diagnosis</button>
    <button type="button" id="editDiagnosis">edit Diagnosis</button>
</div>




<script>
    function swapOptions(optionElement) {
        // Get parent dropdown and the text-box inside it
        const parentDropdown = optionElement.closest('.dropdown');
        const textBox = parentDropdown.querySelector('.text-box');

        // Get the currently displayed value and the clicked value
        const currentValue = textBox.value;
        const clickedValue = optionElement.textContent;

        // Swap the values
        textBox.value = clickedValue;
        optionElement.textContent = currentValue;
    }

    // Make each dropdown toggle active state
    document.querySelectorAll('.dropdown').forEach(dropdown => {
        dropdown.addEventListener('click', () => {
            dropdown.classList.toggle('active');
        });
    });
</script>

{%endblock%}