{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<link rel="stylesheet" href="{% static 'css/AIPage.css' %}?v=2" />


{% endblock %} 



{% block topbar %}
<a href="/startingPage" class="homeButton">
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
</a>
<i class="fa-solid fa-circle-question" style="color: #ffffff;" id="openHelp" data-tooltip="Get Help"></i>
{% endblock %}


{%block content%}


<div class="patientID">
    <p>ID: 50044456</p>
</div>


<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="395%"></canvas>
</div>


<div class="container">
    <form class="radioForm">
        <label>
            <input type="radio" name="option" value="myDiagnosis" >
            <p>my diagnosis</p>
        </label>
        <label>
            <input type="radio" name="option" value="AIDiagnosis" checked>
            <p>AI diagnosis</p>
        </label>
        <label>
            <input type="radio" name="option" value="showOverlay">
            <p>show overlay</p>
        </label>
    </form>
</div>


<div class="nextButton">
    <button type="button" id="TakeMyDiagnosis">Take My Diagnosis</button>
    <button type="button" id="TakeAIDiagnosis">Take AI Diagnosis</button>
    <button type="button" id="editDiagnosis">edit Diagnosis</button>
</div>

{%endblock%}

<script>
