{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<link rel="stylesheet" href="{% static 'css/AIPage.css' %}?v=2" />


{% endblock %} 



{% block topbar %}
<a href="/startingPage" class="homeButton">
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
</a>
<i class="fa-solid fa-circle-question" style="color: #ffffff;" id="openHelp" data-tooltip="Get Help"></i>
{% endblock %}


{%block content%}


<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="395%"></canvas>
</div>


<div class="dropdown-container">
    <div class="dropdown">
        <div class="dropdown-select">
            <span class="dropdown-text" id="dropdown1-text">my diagnosis</span>
            <span class="dropdown-arrow"></span>
            <select class="dropdown-select-box" id="dropdown1">
                <option value="my diagnosis">my diagnosis</option>
                <option value="AI diagnosis">AI diagnosis</option>
                <option value="show overlay">show overlay</option>
            </select>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown-select">
            <span class="dropdown-text" id="dropdown2-text">T1</span>
            <span class="dropdown-arrow"></span>
            <select class="dropdown-select-box" id="dropdown2">
                <option value="T1">T1</option>
                <option value="Flaire">Flaire</option>
            </select>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown-select">
            <span class="dropdown-text" id="dropdown3-text">deepfcdProb</span>
            <span class="dropdown-arrow"></span>
            <select class="dropdown-select-box" id="dropdown3">
                <option value="deepfcdProb">deepfcdProb</option>
                <option value="deepfcd">deepfcd</option>
                <option value="map18">map18</option>
                <option value="meld">meld</option>
                <option value="nnunet">nnunet</option>
            </select>
        </div>
    </div>
</div>




<div class="nextButton">
    <button type="button" id="TakeMyDiagnosis">Take My Diagnosis</button>
    <button type="button" id="TakeAIDiagnosis">Take AI Diagnosis</button>
    <button type="button" id="editDiagnosis">edit Diagnosis</button>
</div>

{%endblock%}

<script>
