{% extends 'base.html' %} 
{% load static %} 
{% csrf_token %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/diagnosisPage.css' %}?v=1" />
{% endblock %} 

{% block title %} 
  PathoLens - Diagnosis Page 
{% endblock %} 

<!--adds the homebutton-->
{% block topBar %}
<a href="/startingPage" class="homeButton">
    <img alt="home" src="{% static 'icons\HomeButton.png' %}" id="homeIcon">
</a>
{% endblock %}

{%block content%}


<div class="toolbar">    
    <button class="toolButton" id="selectTool">
        <img alt="freehand drawing" src="{% static 'icons\FreehandDrawingIcon.png' %}" id="freehandDrawingIcon">
    </button>

    <button class="toolButton" id="frameTool">
        <div class="outlineSquare"></div>
    </button>

    <button class="toolButton" id="eraseTool">
        <i class="fa-solid fa-eraser"></i>
    </button>

    <button class="toolButton" id="undoTool">
        <i class="fa-solid fa-rotate-left"></i>    
    </button>
</div>

<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="376%"></canvas>
</div>

<!--Selection T1 / Flair-->
<div class="container">
    <form class="radioForm">
        <label>
            <input type="radio" name="option" value="FLAIR" checked>
            <p>FLAIR</p>
        </label>
        <label>
            <input type="radio" name="option" value="T1">
            <p>T1</p>
        </label>
    </form>
</div>

<div class="finishDiagnosisButton">
    <button type="button" id="finishButton">Finish Diagnosis</button>
</div>


<!--Confidence Meter-->
<div class="popupOverlay" id="popupOverlay">
    <div class="popupFrame" id="popupFrame">
        
        <button class="popupClose" id="closePopup">&times;</button>
        
        <p>Please state your confidence</p>

        <div class="confidenceMeterContainer">
            
            <input type="range" class="confidenceMeter" min="0" max="100" value="50" id="confidenceMeter">
  

            <div class="tooltip" id="tooltip">50</div>
        </div>

        <button class="popupConfirm" id="popupConfirm">Confirm</button>
    </div>
</div>



<script>
    const slider = document.getElementById('confidenceMeter');
    const tooltip = document.getElementById('tooltip');
    const confirmButton = document.getElementById('confirmButton');
    const displayValue = document.getElementById('displayValue');

    slider.addEventListener('input', function () {
    const value = slider.value;
    tooltip.textContent = value; 
    tooltip.style.visibility = 'visible'; 

    
    const sliderRect = slider.getBoundingClientRect(); 
    const thumbPosition = ((value - slider.min) / (slider.max - slider.min)) * sliderRect.width;

    
    tooltip.style.left = `${thumbPosition}px`;
    tooltip.style.transform = `translateX(-50%)`;
    });

    
    slider.addEventListener('mouseover', function () {
        tooltip.style.visibility = 'visible';
    });

    
    slider.addEventListener('mouseout', function () {
        tooltip.style.visibility = 'hidden';
    });
</script>

<input type="hidden" id="diagID" value="{{ diagnosisID }}">


{%endblock%}
{% block extraJS %}
<script>
    const diagnosisID = "{{ diagnosisID }}";
</script> 
{% csrf_token %}
<script>
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script type="module" src="{% static 'js/diagnosisMain.js' %}"></script>
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}
