{% extends 'base.html' %} 
{% load static %} 
{% csrf_token %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/editDiagnosis.css' %}?v=1" />
{% endblock %} 

{% block title %} 
  Diagnosis Page 
{% endblock %} 

<!--adds the homebutton-->
{% block topBar %}
<a href="/startingPage" class="homeButton">
    <img alt="home" src="{% static 'icons\HomeButton.png' %}" id="homeIcon">
</a>
{% endblock %}

{%block content%}

<div class="toolbar">    
    <button class="toolButton" id="selectTool">
        <img alt="freehand drawing" src="{% static 'icons\FreehandDrawingIcon.png' %}" id="freehandDrawingIcon">
    </button>

    <button class="toolButton" id="frameTool">
        <div class="outlineSquare"></div>
    </button>

    <button class="toolButton" id="eraseTool">
        <i class="fa-solid fa-eraser"></i>
    </button>

    <button class="toolButton" id="undoTool">
        <i class="fa-solid fa-rotate-left"></i>    
    </button>
</div>

<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="376%"></canvas>
</div>


<div class="dropdown-container">

    <div class="dropdown">
        <input class="text-box" type="text" value="Model A" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">Model B</div>
            <div onclick="swapOptions(this)">Model C</div>
            <div onclick="swapOptions(this)">Model D</div>
            <div onclick="swapOptions(this)">Model E</div>
        </div>
    </div>
    <div class="dropdown">
        <input class="text-box" type="text" value="AI diagnosis" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">my diagnosis</div>
            <div onclick="swapOptions(this)">show overlay</div>
        </div>
    </div> 
    <div class="dropdown">
        <input class="text-box" type="text" value="FLAIR" readonly>
        <div class="options">
            <div onclick="swapOptions(this)">T1</div>
        </div>
    </div>
    
</div>


<div class="finishDiagnosisButton">
    <button type="button" id="finishButton">Finish Diagnosis</button>
</div>


<div id="comparisonContainer">
    <canvas></canvas>
    <img alt="zoom button" src="{% static 'icons\editPageZoomButton.png' %}" id="zoomButton">
</div>



<script>
    function swapOptions(optionElement) {
        // Get parent dropdown and the text-box inside it
        const parentDropdown = optionElement.closest('.dropdown');
        const textBox = parentDropdown.querySelector('.text-box');

        // Get the currently displayed value and the clicked value
        const currentValue = textBox.value;
        const clickedValue = optionElement.textContent;

        // Swap the values
        textBox.value = clickedValue;
        optionElement.textContent = currentValue;
    }

    // Make each dropdown toggle active state
    document.querySelectorAll('.dropdown').forEach(dropdown => {
        dropdown.addEventListener('click', () => {
            dropdown.classList.toggle('active');
        });
    });
    
</script>
<script type="module" src="{% static 'js/main.js' %}"></script>
<script type="module" src="{% static 'js/index.js' %}"></script>
<script type="module" src="{% static 'js/editDiagnosis.js'%}"></script>
{% endblock %}

