{% extends 'base.html' %} 
{% load static %} 
{% csrf_token %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/editDiagnosis.css' %}?v=2" />
{% endblock %} 

{% block title %} 
  Diagnosis Page 
{% endblock %} 

<!--adds the homebutton-->
{% block topBar %}
<a href="/startingPage" class="homeButton">
    <img alt="home" src="{% static 'icons\HomeButton.png' %}" id="homeIcon">
</a>
{% endblock %}

{%block content%}

<div class="toolbarContainer">
    <div class="toolbar">    
        <button class="toolButton" id="selectTool">
            <img alt="freehand drawing" src="{% static 'icons\FreehandDrawingIcon.png' %}" id="freehandDrawingIcon">
        </button>

        <button class="toolButton" id="frameTool">
            <img alt="cuboid" src="{% static 'icons\cuboidIcon.png' %}" id="cuboidIcon">
        </button>

        <button class="toolButton" id="undoTool">
            <i class="fa-solid fa-rotate-left"></i>    
        </button>
    </div>

    <div>
        <button class="jumpRect" id="jumpRect">Jump To Rectangle</button>
    </div>
</div>

<!--Container for image loading-->
<div class="imageBox">
    <canvas id="imageBrain" width="100%" height="376%"></canvas>
</div>

<div class="alertOverlay" id="alertOverlay"></div>

<div class="alertMessageBox" id="alertMessageBox">
    <h3>ERROR</h3>
        <p>Please Finish Your Cuboid First!</p>
        <button id="closeAlertWindow">OK</button>
</div>

<div class="alertMessageBox" id="alertMessageBox">
    <h3>ERROR</h3>
        <p>Please Finish Your Cuboid First!</p>
        <button id="closeAlertWindow">OK</button>
</div>

<div class="saveLesionWindow" id="saveLesionWindow">
    <button class="popupClose" id="controlLesion">&times;</button>
    <div class="saveLesionText">
        <p>Do you want to save the current lesion?</p>
        <p>Please enter your confidence for the current lesion!</p>
    </div>
    <div class="confidenceMeterContainer" style="position: relative; width: 70%; top: 0; left: 0; transform: none; margin-top: 40px;">
        <input type="range" class="confidenceMeter" min="0" max="10" value="5" id="confidenceMeter1">
        <div class="tooltip" id="tooltip">5</div>
    </div>
    <div class="saveLesionButtons">
        <button id="submitLesion">Save Lesion</button>
    </div>
</div>

<div id="compareAndDropdownContainer">
    <div class="dropdownContainer">

        <!--dropdown functions-->
        <div class="dropdown" id="AIdropdown">
            <input class="textBox" type="text" value="Loading Models..." readonly>
            <div class="options">
                <!-- Here the models are inserted via JavaScript -->
            </div>
        </div>
        
        <div class="dropdown" id="displayDropdown">
            <input class="textBox" type="text" value="AI diagnosis" readonly>
            <div class="options">
                <div class="option">AI Diagnosis</div>
                <div class="option">My Diagnosis</div>
                <div class="option">Show Overlay</div>
            </div>
        </div>
        
        <div class="dropdown" id="formatDropdown">
            <input class="textBox" type="text" value="FLAIR" readonly>
            <div class="options">
                <div class="option">FLAIR</div>
                <div class="option">T1</div>
            </div>
        </div>

    </div>

    <!--blur overlay-->
    <div class="overlay" id="overlay"></div>

    <!--Zoomable image-->
    <div id="comparisonContainer">
    <canvas id="imageBrainZoom" width="100%" height="376%"></canvas>
        <img alt="zoom button" src="{% static 'icons\editPageZoomButton.png' %}" id="zoomButton">
    </div>
    

</div>

<div class="finishDiagnosisButton">
    <button type="button" id="finishButton">Finish Diagnosis</button>
</div>

<div class="popupOverlay" id="popupOverlay">
    <div class="popupFrame" id="popupFrame">
        <button class="popupClose" id="closePopup">&times;</button>
        <p>Please state your confidence</p>
        <div class="confidenceMeterContainer">
            <input type="range" class="confidenceMeter" min="0" max="10" value="5" id="confidenceMeter">
            <div class="tooltip" id="tooltip">5</div>
        </div>
        <button class="popupConfirm" id="popupConfirm">Confirm</button>
    </div>
</div>

<script>
    const confirmButton = document.getElementById('confirmButton');
    const displayValue = document.getElementById('displayValue');

    document.querySelectorAll(".confidenceMeter").forEach(slider => {

        const tooltip = slider.nextElementSibling;

        slider.addEventListener('input', function () {
            const value = slider.value;
            tooltip.textContent = value; 
            tooltip.style.visibility = 'visible'; 

            
            const sliderRect = slider.getBoundingClientRect(); 
            const thumbPosition = ((value - slider.min) / (slider.max - slider.min)) * sliderRect.width;

            
            tooltip.style.left = `${thumbPosition}px`;
            tooltip.style.transform = `translateX(-50%)`;
        });

        
        slider.addEventListener('mouseover', function () {
            tooltip.style.visibility = 'visible';
        });

        
        slider.addEventListener('mouseout', function () {
            tooltip.style.visibility = 'hidden';
        });
    })
</script>
<script>
    const diagnosisID = '{{ diagnosisID }}'
</script>
{% csrf_token %}
<script>
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script type="module" src="{% static 'js/index.js' %}"></script>
<script type="module" src="{% static 'js/editDiagnosis.js'%}"></script>
{% endblock %}

