{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="{% static 'css/transitionPage.css' %}">
    <title>Tranistion</title>
</head>

<body>
    <div class="contentBox">
        <div class="contentTitle">
            <h2>Do you want to continue ? </h2>
        </div>
        
            <div class="decisionButtons">
                <div class="homeButton">
                    <button> Homepage </button>
                </div>
            </div>
    </div>   
</body>
</html>
