{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="{% static 'css/transitionPage.css'%}?v=2">
<title> Transition </title>

{% endblock %} 

{%block content%}

<div class="mainContent">
    <div class="contentBox">
        <div class="contentTitle">
            <h1>Do you want to continue ? </h1>
        </div>
        
        <div class="decisionButtons">
                <button class="continueButton"> Yes, continue </button>
                <button class="homeButton"> No, return to homepage </button>        
            </div>            
        </div>
    
    </div> 
</div>
</body>

{% endblock %} 