@import url('https://fonts.googleapis.com/css?family=Cabin');

html, body {
    background-color: #00242f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.loginWindow {
    background-color: #005e7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 458px;
    height: 567px;
    margin-top: 115px;
    margin-bottom: 115px;
    padding: 20px;
    border-radius: 10px;
}



.loginWindowText{
    color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.loginWindowText h2{
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 1px;

}

.loginWindowText h4 {
    font-size: 22px;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    margin-top: 3px;
}

.loginWindowInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    gap: 16px;
}

.loginWindowInput input{
    background-color: #00485e;
    margin-top: 20px;
    height: 36px;
    width: 330px;
    font-size: 14px;
    font-family:  Calibri, Arial, sans-serif;
    color: #f7f7f7;
    align-items: flex-start;
    border: none;
    padding: 10px 15px 10px 20px;
    border-radius: 5px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}

.loginWindowInput input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.Information {
    color: rgb(255, 103, 103);
    font-family:  Calibri, Arial, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: -20px;
    font-size: 18px;
    text-shadow: 0 0 1px rgb(255, 103, 103); /*glow effect*/
    animation: glowing 0.10s ease-out 1, shake 0.07s ease-in-out 1 forwards ; /*shake ang glow effect */
}

@keyframes glowing { 
    0% {
        text-shadow: 
            0 0 1px rgb(255, 103, 103), 
            0 0 2px rgb(255, 103, 103);
    }
    75% {
        text-shadow: 
            0 0 3px rgb(255, 103, 103), 
            0 0 5px rgb(255, 103, 103);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.loginWindowLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.loginButton{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.loginButton Button {
    background-color: #00afb9;
    border: none;
    width: 230px;
    height: 45px;
    border-radius: 8px;
    color: #f7f7f7;
    font-size: 18px;
    font-family: Calibri;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.loginButton Button:hover{
    background-color: #028f97;
}

.loginWindowLinks p {
    color: #f7f7f7;
    font-size: 16px;
    margin-top: 15px;
    font-weight: normal;
    font-family: 'Cabin', sans-serif;
}

.loginWindowLinks a {
    color: #00afb9
}

.loginWindowLinks a:hover{
    color: #028f97;

} 


.head{
    display:flex;
    justify-content: center;
    align-items: center;
}


.password-container {
    position: relative; /* For positioning the icon */
    display: flex;
    align-items: center;
    margin-top: 0px; /* Space between password fields */
}


.toggle-password {
    position: absolute;     /* Positions the element absolutely within its container */
    right: 15px;            /* Moves it 15px from the right */
    margin-top: 25px;       /* Adds space at the top */
    cursor: pointer;        /* Changes the cursor to a pointer on hover */
}

.toggle-password .eye-icon {
    display: block;             /* Ensures the element is a block */
    width: 20px;                /* Sets the width */
    height: 20px;               /* Sets the height */
    background-size: contain;   /* Scales the background image to fit */
    background-repeat: no-repeat; /* Prevents background image repetition */
    background-image: url('icons/closedEye.png');   /* Default image for the closed eye */
    opacity: 0.6;       /* Sets the transparency */
}

.toggle-password .eye-icon.open {
    background-image: url('icons/openEye.png');     /* Changes to open eye image */
    opacity: 0.6;   /* Maintains the transparency */
}