@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background-color: #00242f;
    font-family: 'Cabin';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loginWindow {
    background-color: #005e7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 478px;
    height: 587px;
    margin-top: 100px;
}



.loginWindowText{
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.loginWindowText h1{
    font-size: 36px;
    margin-bottom: -15px;
}

.loginWindowText p {
    font-size: 16px;
}

.loginWindowInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loginWindowInput input{
    background-color: #00485e;
    margin-top: 25px;
    height: 50px;
    width: 370px;
    font-size: 22px;
    color: #f7f7f7;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.loginWindowInput input::placeholder {
    color: #aaa;
}

.Information {
    color: #e50036;
    margin-top: 25px;
    margin-bottom: -20px;
    font-size: 20px;
}

.loginWindowLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.loginButton{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.loginButton Button {
    background-color: #00afb9;
    border: none;
    width: 262px;
    height: 54px;
    border-radius: 8px;
    color: #f7f7f7;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.loginButton Button:hover{
    background-color: #028f97;
}

.loginWindowLinks p {
    color: #f7f7f7;
    font-size: 18px;
    margin-top: 25px;
}

.loginWindowLinks a {
    color: #00afb9

}



.head{
    display:flex;
    justify-content: center;
    align-items: center;
}



.password-container {
    position: relative; /* For positioning the icon */
    display: flex;
    align-items: center;
    margin-top: 0px; /* Space between password fields */
}


.password-container {
    position: relative; /* For positioning the icon */
    display: flex;
    align-items: center;
    margin-top: 0px; /* Space between password fields */
}

.toggle-password {
    position: absolute; 
    right: 15px;
    margin-top: 25px;
    cursor: pointer; 
}


.toggle-password .eye-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain; /
    background-repeat: no-repeat; 
    background-image: url('icons/closedEye.png'); 
    opacity: 0.6;
}


.toggle-password .eye-icon.open {
    background-image: url('icons/openEye.png');
    opacity: 0.6; 
}