@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
    background-color: #005E7A;

    margin: 0;
    padding: 0;
}

.topBar {
    background-color: #005E7A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px; /* Breite (vertikal)*/
    margin: 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

.NameIcon {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.NameIcon img{
    width: 55px;
    height: 55px;
    margin-top: 35px;
    margin-left: 15px;
}

.NameIcon p {
    font-size: 35px;
    margin-left: 15px;
    margin-top: 45px;
    color: #f7f7f7;
    font-family: 'Cabin';
    font-weight: bold;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.Buttons i {
    font-size: 35px;
    margin-right: 25px;
    cursor: pointer;
}

.helpSlide {
    position: fixed;
    top: 0;
    right: -600px;
    width: 550px;
    height: 100%;
    color: #f7f7f7;
    background-color: #333;
    opacity: 0.9;
    padding: 20px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    transition: right 0.5s ease-in-out;
}


.closeHelp{
    display: flex;
}

.closeHelp button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.closeHelp i {
    font-size: 24px;
    color: #f7f7f7;
}

.helpContent{
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Calibri;
}

.helpContent p {
    line-height: 20px;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
    text-align-last: left;
}

.helpContent h2 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.helpContent h3 {
    margin-bottom: 0px;
}

.helpContent hr{
    width: 515px;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 25px;
}

.thanks{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}
