@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
    background-color: #005E7A;

    margin: 0;
    padding: 0;
}

.topBar {
    background-color: #005E7A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px; /* Breite (vertikal)*/
    margin: 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

.NameIcon {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.NameIcon img{
    width: 65px;
    height: 65px;
    margin-top: 25px;
    margin-left: 15px;
}

.NameIcon p {
    font-size: 35px;
    margin-left: 15px;
    margin-top: 45px;
    color: #f7f7f7;
    font-family: 'Cabin';
    font-weight: bold;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Buttons i {
    font-size: 35px;
    margin-right: 25px;
}

.Buttons{
    padding: 0;
    margin: 0;
}

.helpSlide {
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 100%;
    color: #f7f7f7;
    background-color: #333;
    opacity: 0.7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: right 0.5s ease-in-out;
}

