body {
    margin: 0; /* Entfernt den Standardabstand */
    font-family: Arial, sans-serif; /*Schriftart*/
    background-color:  #24617B;
    color: #ffffff;
    display: flex; 
    flex-direction: column; /* Anordnung der Elemente vertikal */
    height: 100vh;
}



.mainContent {
    display: flex;
    flex: 1; /* Nimmt verfügbaren Platz ein */
    margin-top: 30px; /*Abstand von Leiste*/
    height: calc(100vh - 100px);/* Setzt die Höhe auf die volle Viewport-Höhe minus 100px */
    overflow: hidden; /* Verhindert das Überlaufen von Inhalt */
}

.leftPanel {
    flex: 1; /* Nimmt verfügbaren Platz ein */
    padding: 10px; /*Innenabstand zu allen Seiten*/
    display: flex;
    flex-direction: column; /* Anordnung der Elemente in einer Spalte */
    justify-content: space-between; /* Verteilt Elemente mit Abstand */
    align-items: flex-start; /* Elemente am Anfang horizontal ausrichten */
    background-color: #24617B;
    overflow-y: auto; /* Ermöglicht vertikales Scrollen */
}

.leftPanel .profile {
    font-family: Calibri;
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 100px;
    margin-left: -50;
    position: relative;
    left: 60px;
    top: 33px;
}

.leftPanel .profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e0e8ea;
}

.leftPanel .profileInfo {
    font-size: 16px;
    line-height: 1.2;
    max-width: 200px;
}

.leftPanel .profileInfo .name {
    font-size: 27px;
    font-weight: bold;
    white-space: nowrap;
}

.leftPanel .profileInfo .email {  
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
}

.leftPanel .buttons {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 70%;
    margin-bottom: 240px;
    position: relative;
    left: 60px;
    top: 60px;
}


.leftPanel .buttons button {
    background-color: #00AFB9;
    font-family: Calibri;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    text-align: center;
}

.leftPanel .buttons button:hover {
    background-color: #44B2C2;
    transform: scale(1.02);
}

.leftPanel .buttons button:active {
    background-color: #017d84;; /* Darker color when clicked */
}

.right-frame {
    
    position: relative;                     
    right: 30px;             /* Abstand vom rechten Rand des Bildschirms */
    width: 1000px;            /* Breite des Frames (anpassbar) */
    height: 81vh;            /* Höhe des Frames (70% der Höhe des Bildschirms, anpassbar) */
    border-radius: 10px;     /* Abgerundete Ecken */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3); 
}

/* Optional: Wenn das iframe geladen wird und die Seite eine Scrollbar benötigt */
.right-frame {
    overflow: auto;         
}

