body {
    align-items: center;
    flex: 1.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00242F;
    height: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-style: bold;
    margin: 80px;
    color: #ffffff;
    font: optional;
   
}

.welcomeImage {
    width: 100%;
    max-width: 450px;
    margin-bottom: -100px ;
    margin: -30px;
    
}