@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    background-color:  #24617B;
    color: #ffffff;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}


/*arranges all the elements on the page*/
.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1; 
    height: calc(100vh - 100px);
    overflow: hidden; 
}

.leftPanel {
    flex: 1; 
    padding: 10px; 
    display: flex;
    width: 35%;
    flex-direction: column; 
    align-items: flex-start; 
    background-color: #24617B;
    overflow-y: auto; 
    
}

.leftPanel .profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 70px;
    margin-right: 15%;
    position: relative;
    left: 60px;
    top: 33px;
}

.leftPanel .profile img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 50%;
    
}

.leftPanel .profileInfo {
    font-family: 'Calibri';
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2; 
    max-width: 200px;
    margin-bottom: 50%;
}

.leftPanel .profileInfo .name {
    font-size: 27px;
    font-weight: bold;
    white-space: nowrap; /*prevents text from wrapping to the next line*/
}

.leftPanel .profileInfo .email {  
    font-size: 18px;
    margin-top: 5px;
}

.leftPanel .buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    margin-top: 90px;
    position: relative;
    left: 60px;
  
}

.leftPanel .buttons button {
    background-color: #00AFB9;
    color: #FFFFFF;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 14px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.leftPanel .buttons button:hover {
    background-color: #44B2C2;
    transform: scale(1.02);
}

.leftPanel .buttons button:active{
    background-color: #596d71; 
    transform: translateY(2px);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); 
}


/*window on the right side*/
.rightFrame {
    position: relative;                    
    right: 15px;             
    width: 65%;            
    height: 85vh;            
    border-radius: 10px;     
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3); 
}

/* adds a scrollbar to an element if its content overflows */
.rightFrame {
    overflow: auto;         
}

