/* Grundlegendes Styling für den Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.overlay {
    position: fixed; /* Stellt sicher, dass das Overlay über der gesamten Seite liegt */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparente schwarze Farbe für den Dunkel-Effekt */
    backdrop-filter: blur(5px); /* Weichzeichner (Blur-Effekt) auf die gesamte Seite anwenden */
    z-index: -1; /* Stellt sicher, dass das Overlay vor dem Inhalt liegt */
}

frame-container {
    position: relative; /* Ermöglicht die Positionierung des Overlays */
    width: 100%;
    height: 100vh; /* Volle Bildschirmhöhe */
    overflow: hidden; /* Verhindert Scrollen im Hintergrund */
}

/* Styling für das Hintergrund-iframe (soll das ganze Bild einnehmen) */
.background-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Entfernt den Rahmen des iFrames */
    z-index: -2; /* Hintergrund, ganz unten */
}

/* Container für den Inhalt */
.container {
    padding: 20px;
   
    background-color: #00242F; 
    text-align: center;
    display: flex;
    flex-direction: column; /* Keep elements stacked vertically */
    justify-content: flex-start; /* Start from the top of the container */
    align-items: center; /* Horizontale Zentrierung */
    gap: 20px; /* Abstand zwischen den Buttons */
    width: 100%;
    max-width: 450px;
    height: 250px; /* Feste Höhe für den Container */
    border-radius: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3); /* Schattierung */
    overflow-y: auto;
}

h1{
    color: #ffffff;
    font-size: 25px;
    font-style: bold;
    font-family: Calibri;
    margin-top: 1%;
    margin-bottom: 1%;

}

/* Styling für die Liste der Datasets */
.datasetsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%; /* Passt sich an die Container-Breite an */
}

/* Button-Styling */
button {
    padding: 10px 15px;
    font-size: 18px;
    font: bold;
    font-family: Calibri;
    color: #ffffff;
    background-color: #016685;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover-Effekt für Buttons */
button:hover {
    background-color: #0284ab;
    transform: translateY(-2px);
    transform: scale(1.01);
}

button:active {
    background-color: #6E898A; /* Darker color when clicked */
    transform: translateY(2px); /* Button wird nach unten verschoben */
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatteneffekt, der den "gedrückten" Look verstärkt */
}

