{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<link rel="stylesheet" href="{% static 'css/diagnosisPage.css' %}?v=1" />


{% endblock %} 

{% block title %} 
  Diagnosis Page 
{% endblock %} 


{% block topbar %}
<a href="/startingPage" class="homeButton">
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
</a>
<i class="fa-solid fa-circle-question" style="color: #ffffff;" id="openHelp" data-tooltip="Get Help"></i>
<i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
{% endblock %}

{%block content%}

<div class="toolbar">
    <button class="toolButton" id="selectTool">
        <i class="fa-solid fa-arrow-pointer" ></i>
    </button>
    <button class="toolButton" id="frameTool">
        <div class="outlineSquare"></div>
    </button>
    
    <button class="toolButton" id="eraseTool">
        <i class="fa-solid fa-eraser"></i>
    </button>
</div>

<div class="container">
    <form class="radio-form">
        <label>
            <input type="radio" name="option" value="A" checked>
            <p>FLAIRE</p>
        </label>
        <label>
            <input type="radio" name="option" value="B">
            <p>T1</p>
        </label>
    </form>
</div>

<div class="finishDiagnosisButton">

    <button type="submit">Finish Diagnosis</button>

</div>









{%endblock%}


