<!-- This is a base Page. A lot of other pages in our project will inherit this page -->
<!-- To do this just add extends "base.html" on top of the new html file -->
<!-- To use the blocks copy the blocks from this page in the new page and add the content in between-->
<!-- To implement an extra css file add css link betwenn the extracss block -->
<!-- To add a title add the title between the title block -->
<!-- To add extra content add the page content between the content block -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extraCSS %}{% endblock %}
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <title>{% block title %}PathoLens{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icons8-experiment-versuch-ios-17-glyph-96 copy.png' %}" type="image/x-icon" />
</head>
<body>
    
    <div class="topBar">
        <div class="NameIcon">
            <a href="/startingPage"><img alt="icon" src="{% static '/images/icons8-experiment-versuch-ios-17-glyph-96 copy.png' %}"></a>
            <p>PathoLens</p>
        </div>
        <div class="Buttons">
            {% block topBar %}
            <!--Additional buttons will go here-->
            {% endblock topBar %}
            <i id="openHelp" data-tooltip="Get Help" onclick="event.stopPropagation();">
                <img alt="helpButton" src="{% static 'images\HelpButton.png' %}" id="helpButton">
            </i>
            {% with request.resolver_match.url_name as currentPage %}
            <a href="/logout/{{ currentPage }}"><img alt="logout" src="{% static 'images\LogoutIcon.png' %}" id="logoutButton"></a>
            {% endwith %}
        </div>
    </div>
    {% block content %}
    <!-- Content from child pages will go here -->
    {% endblock content %}
    <!-- JavaScript Block -->
    {% block extraJS %}{% endblock %}
    
    <div class="helpSlide" id="helpWindow">
        <div class="closeHelp">
            <button type="button" id="helpClose"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="helpContent">
            <h2>Introduction</h2>
            <p>
                On this website, you will be presented pictures of MRI/CT scans. You can examine these pictures one at a time and
                mark any anomalies you may find using the built-in drawing tools. Afterwards, you will be able to compare your
                result to the diagnosis of an AI model. Once you have finished the comparison, you will be given the opportunity
                to reconsider your choice and submit your final decision.
            </p>

            <hr>

            <h2>How to work with Patholens</h2>
            <h3>1. Homepage</h3>
            <p>
                Once you have created your user account and logged in, you will find yourself on the homepage.
                From there you can log out, get help and inspect your profile. Apart from that you will have two main options: 
                Starting a new diagnosis or continue an already running, unfinished one. If you started a diagnosis but 
                didn't get to finish it, <b>"Continue Diagnosis"</b> will take you straight to where you have left. <b>"New Diagnosis"</b> 
                will start a new diagnosis. Once you press the button, you'll be given the choice to select one out of three datasets, 
                each containing different subjects. Selecting a dataset will take you to the diagnosis page to examine a randomly 
                selected subject from the dataset of your choice.
            </p>
            <h3>2. Diagnosis Page</h3>
            <p>
                On the diagnosis page, you will be presented three pictures from a 3D MRI/CT scan showing the subject from three angles. 
                The pictures will appear 2D, but using the left-click on one of the pictures will allow you to scroll through
                the layers of the third dimension in the other two pictures. To do so, drag your pointer across one of the pictures. 
                Alternatively, you can just click on the spot you want to see from other angles and the other two pictures will be adjusted 
                to show exactly the layer containing the chosen spot. <br>
                For every subject, there will be two types of pictures to choose from: T1 and Flair. 
                Using the selection on the bottom of the page, you can switch back and forth between the two types.<br>
                Above the pictures you will find a toolbox offering you three tools to notate the pictures. 
                On the far left, you will find a little mouse pointer. This tool allows you to mark a single pixel of the image just by clicking 
                on the targeted pixel. The second tool right in the middle is used to draw rectangles. Using the rectangle tool, you can draw 
                a rectangle by dragging your pointer from the top left corner to the bottom right corner of your desired rectangle. 
                To erase a notation, just use the eraser tool on the right of the toolbox.<br>
                Once you are satisfied with your notations, click on the <b>"finish diagnosis"</b> button in the bottom right corner.
            </p>    
                
            <h3>3. State your confidence</h3>
            <p>
                Right after finishing a diagnosis, a window will show up asking you to state your confidence. Please be true to yourself
                and enter how confident you are in your diagnosis using the provided slider.
            </p>
              
            <h3>4. Comparison Page</h3>
            <p>
                Stating your confidence will take you to the comparison page. Here you can view your own diagnosis as well as the diagnosis
                of an AI model. Using the selection above the pictures, you can choose whose diagnosis you want to see: Your own, the AI 
                model's or both at once. Take your time to inspect the diagnoses and compare them. After comparison, you have three options
                to submit the final result: If you are confident in your diagnosis, press the <b>"Take my diagnosis"</b> button. If the AI's 
                diagnosis convinced you, press <b>"Take AI diagnosis"</b>. Both of these options will finish the diagnosis and take you to 
                the transition page. Maybe the comparison makes you realize that there is an entirely different option that is better 
                than both yours and the AI's diagnosis, or perhaps a combination of both. In that case, you can press 
                <b>"Edit Diagnosis"</b> on the bottom right. This will take you to the edit page, where you can make new notations or 
                erase existing ones. 
            </p>    

            <h3>5. Edit Page</h3>
            <p>
                This page is very similar to the diagnosis page: In the middle you will find the pictures of the subject without any 
                notations, and right above them is the toolbox. In contrast to the diagnosis page, on the bottom of the edit page
                you will find pictures of the diagnoses by the AI and yourself. On the left of the pictures, you can choose which diagnosis should
                be displayed right now, just like on the comparison page. By clicking on the magnifying glass in the bottom right
                corner of the old diagnoses you can enlargen the pictures. Finishing your diagnosis will ask you to state your
                confidence once more. Afterwards, you are on the transition page.
            </p>
            
            <h3>6. Transition Page</h3>
            <p>
                The transition page is just a transition between two diagnoses. After finishing a diagnosis, you can choose whether
                you want to continue with a new diagnosis by pressing <b>"Yes, continue"</b> or go back to the homepage.
            </p>

            <hr>

            <div class = "thanks">
                <p>Thank you for using PathoLens!</p>
            </div>
        </div>
    </div>

    <script>
        const helpWindow = document.getElementById("helpWindow");
        const openHelpWindow = document.getElementById("openHelp");
        const closeHelpWindow = document.getElementById("helpClose");

        // opens the helpslider
        openHelpWindow.addEventListener("click", () => {
            helpWindow.style.right = 0;
        });

        // closes the helpslider
        closeHelpWindow.addEventListener("click", () => {
            helpWindow.style.right = "-600px";
        });


    </script>
    
</body>
</html>
