{% extends 'base.html' %} 
{% load static %} 
{% block extraCSS %}

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<link rel="stylesheet" href="{% static 'css/home.css' %}?v=1" />
{% endblock %} 

{% block title %} 
  PathoLens 
{% endblock %} 

{% block content %}
  <div class="mainContent">
      <!-- Left Panel -->
      <div class="leftPanel">
          <div class="profile">
              <img
                  src="{% static 'images/profilePicture.png' %}"
                  alt="Picture"
                  class="profilePicture"
              />
              <div class="profileInfo">
                  <div class="name">
                      {{ user.first_name }} {{ user.last_name }}
                  </div>
                  <div class="email">{{ user.email }}</div>
              </div>
          </div>

          <div class="buttons">
              <button>Continue Diagnosis</button>
              <label for="newDiagnosisCheckbox" style="cursor: pointer">
                  <button>New Diagnosis</button></label
              >
          </div>
      </div>

      <!-- Right Panel 
      <div class="rightPanel">
          <div class="welcomeText">
              <h1>Welcome Back Doctor</h1>
          </div>
          <img
              src="{% static 'images/welcome.png' %}"
              alt="Brain Image"
              class="welcomeImage"
          />
      </div>-->
      <iframe class="right-frame" src="/home1" title="Externer Inhalt"></iframe>

       
  </div>
{% endblock %}
