{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patholens - No running diagnosis</title>
        <link rel="stylesheet" href="{% static 'css/noRunningDiagnosis.css' %}?v=1" />
    </head>

    <!-- Close Effect--->
    <body onclick="window.location.href='/homeWindow'">
        
        <!-- Start image as background -->
        <div class="frameContainer">
            <iframe class="backgroundFrame" src="{% url 'homeWindow' %}" frameborder="0"></iframe>
            <div class="overlay"></div>
        </div>

        <div class="noRunningDiagnosisPopup">
            <p>
                You don't have a running diagnosis to continue.
            </p>
        </div>

    </body>
</html>